:host {
  flex-direction: column;
}

table {
  min-width: 300px;
  border-collapse: collapse;
  border: 2px solid rgb(100, 100, 100);
  thead {
    height: 59px;
    border-bottom: 2px solid rgb(100, 100, 100);
  }
  td, th {
    border: 1px solid rgb(100, 100, 100);
    text-align: center;
  }
}

svg {
  padding-left: 8px;
  // va comprendre pourquoi....
  // min-width: 200%;
}

