<mat-toolbar fxFlex fxLayoutAlign="start center" fxLayoutGap="16px" color="accent">
  <!-- next icon undo and redo -->
  <article fxLayoutAlign="start center" fxLayoutGap="16px" [formGroup]="rangeForm">
    <mat-form-field appearance="outline" color="primary">
      <input matInput [matDatepicker]="from" placeholder="Choose a date" formControlName="from">
      <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
      <mat-datepicker #from disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="to" placeholder="Choose a date" formControlName="to">
      <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
      <mat-datepicker #to disabled="false"></mat-datepicker>
    </mat-form-field>
  </article>

  <!-- Datepicker/Previous/Zoom functionnalities -->
  <article fxLaoutAlign="start center" fxLayoutGap="16px">
    <button mat-button (click)="sendMove('previous')">
      <span fxLayout="column" fxLayoutAlign="center center">
        <mat-icon aria-label="arrow_back">arrow_back</mat-icon>
        Previous
      </span>
    </button>
    <button mat-button (click)="sendMove('next')">
      <span fxLayout="column" fxLayoutAlign="center center">
        <mat-icon aria-label="arrow_forward">arrow_forward</mat-icon>
        Next
      </span>
    </button>
    <button mat-button (click)="sendZoom('in')">
      <span fxLayout="column" fxLayoutAlign="center center">
        <mat-icon aria-label="zoom_in">zoom_in</mat-icon>
        Zoom In
      </span>
    </button>
    <button mat-button (click)="sendZoom('out')">
      <span fxLayout="column" fxLayoutAlign="center center">
        <mat-icon aria-label="zoom_out">zoom_out</mat-icon>
        Zoom Out
      </span>
    </button>
    <button mat-button (click)="resetView()">
      <span fxLayout="column" fxLayoutAlign="center center">
        <mat-icon aria-label="restart_alt">restart_alt</mat-icon>
        Reset
      </span>
    </button>
    <mat-form-field appearance="outline">
      <mat-select [formControl]="rangeUnitForm">
        <mat-option *ngFor="let unit of rangeUnits" [value]="unit">{{unit}}</mat-option>
      </mat-select>
    </mat-form-field>
  </article>
</mat-toolbar>
