<mat-toolbar fxLayoutAlign="space-between center">
  <a mat-button href="/">Home</a>
  <div>
    <a mat-button routerLink="translate">Internationalization</a>
    <a mat-button routerLink="gantt">Gantt Chart</a>
  </div>
</mat-toolbar>

<main>
  <h1>Custom Components</h1>

  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="showBanner">
  <informative-banner text="If you are using Internet Explorer, you should change for Chrome or Firefox. IE is Evil after all..." (showBanner)="isHidden($event)"></informative-banner>
</ng-container>
